PUID=1000
PGID=1000
TZ=Etc/UTC
MEDIA_PATH=/path/to/media

WIREGUARD_KEY=replace-with-wireguard-private-key
VPN_SERVER_COUNTRIES=replace-with-preferred-countries
QBT_USER=replace-with-qbittorrent-username
QBT_PASS=replace-with-qbittorrent-password
