VALHEIM_SERVER_NAME=Example Valheim Server
VALHEIM_WORLD_NAME=exampleworld
VALHEIM_SERVER_PASS=replace-with-server-password
VALHEIM_SERVER_PUBLIC=false
VALHEIM_SERVER_ARGS=-modifier portals casual
VALHEIM_BEPINEX=true
